/* set global styles on the entire presentation */
html {
    background-color: black;
    font-size: 200%;
}

/* by default, the two big caveats are not visible */
#toolz, #open-source {
    z-index: -1;
    color: white;

    opacity: 0;

    -webkit-transition: opacity 1s;
       -moz-transition: opacity 1s;
        -ms-transition: opacity 1s;
         -o-transition: opacity 1s;
            transition: opacity 1s;

    width: 500px;
}

/* make the text on these elements available */
#toolz.active {
    opacity: 1;

    -webkit-transition: opacity 1s;
       -moz-transition: opacity 1s;
        -ms-transition: opacity 1s;
         -o-transition: opacity 1s;
            transition: opacity 1s;
}

#open-source.active {
    opacity: 1;

    -webkit-transition: opacity 1s;
       -moz-transition: opacity 1s;
        -ms-transition: opacity 1s;
         -o-transition: opacity 1s;
            transition: opacity 1s;
}

/************************************************** styling for list headers */
.category h2 {
    font-size: 75%;
}

/************************************************ styling for lists of tools */
.details {
    width: 400px;
    padding: 15px;
    margin: 10px;
    height: 500px;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    /* border: 5px solid white; */

    opacity: 0.3;
    background-color: rgba(255, 255, 255, 0);

    -webkit-transition: opacity 1s, background-color 1s;
       -moz-transition: opacity 1s, background-color 1s;
        -ms-transition: opacity 1s, background-color 1s;
         -o-transition: opacity 1s, background-color 1s;
            transition: opacity 1s, background-color 1s;
}
.details.active {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);

    -webkit-transition: opacity 1s, background-color 1s;
       -moz-transition: opacity 1s, background-color 1s;
        -ms-transition: opacity 1s, background-color 1s;
         -o-transition: opacity 1s, background-color 1s;
            transition: opacity 1s, background-color 1s;
}
