/* set global styles on the entire presentation */
html {
    background-color: #222;
    font-size: 200%;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
}

html:before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url('../img/space.png') 0 0 repeat;
    -webkit-transform: rotate(-30deg);
       -moz-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
         -o-transform: rotate(-30deg);
            transform: rotate(-30deg);
}

/* by default, the two big caveats are not visible */
#toolz, #open-source {
    z-index: -1;
    color: #eee;

    opacity: 0;

    -webkit-transition: opacity 1s;
       -moz-transition: opacity 1s;
        -ms-transition: opacity 1s;
         -o-transition: opacity 1s;
            transition: opacity 1s;

    width: 500px;
}
#toolz p, #open-source p {
    margin-bottom: 1em;
}
#toolz a, #open-source a {
    color: #377eb8;
    text-decoration: none;
}
#toolz a:hover, #open-source a:hover {
    text-decoration: underline;
}

/* make the text on these elements available */
#toolz.active {
    opacity: 1;

    -webkit-transition: opacity 1s;
       -moz-transition: opacity 1s;
        -ms-transition: opacity 1s;
         -o-transition: opacity 1s;
            transition: opacity 1s;
}

#open-source.active {
    opacity: 1;

    -webkit-transition: opacity 1s;
       -moz-transition: opacity 1s;
        -ms-transition: opacity 1s;
         -o-transition: opacity 1s;
            transition: opacity 1s;
}

/************************************************** styling for list headers */
.category h2 {
    font-size: 75%;
    color: #333;
    text-align: center;
}

/************************************************ styling for lists of tools */
.details {
    width: 450px;
    margin: 10px;
    height: 600px;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    border: 5px solid #666;
    color: #333;
}
.details h2 {
    text-align: center;
    padding: 15px;
    background-color: #666;
    color: #eee;
}
.details .tool {
    margin-top: 0.5em;
    padding-left: 15px
}
.details i.fa {
    opacity: 0;
    margin-left: 5px;
    margin-right: 5px;
}
.details a {
    color: #333;
    text-decoration: none;
}
.details a:hover {
    color: #377eb8;
}
.details a i.fa {
    opacity: 1;
}
.details span {
    padding-left: 0.5em;
}
.details {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0);

    -webkit-transition: opacity 1s, background-color 1s;
       -moz-transition: opacity 1s, background-color 1s;
        -ms-transition: opacity 1s, background-color 1s;
         -o-transition: opacity 1s, background-color 1s;
            transition: opacity 1s, background-color 1s;
}
body[class*="acquisition"] .details[id^="acquisition"] {
    opacity: 0.3;
    background-color: rgba(255, 255, 255, 0);

    -webkit-transition: opacity 1s, background-color 1s;
       -moz-transition: opacity 1s, background-color 1s;
        -ms-transition: opacity 1s, background-color 1s;
         -o-transition: opacity 1s, background-color 1s;
            transition: opacity 1s, background-color 1s;
}
body[class*="acquisition"] .details[id^="acquisition"].active {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);

    -webkit-transition: opacity 1s, background-color 1s;
       -moz-transition: opacity 1s, background-color 1s;
        -ms-transition: opacity 1s, background-color 1s;
         -o-transition: opacity 1s, background-color 1s;
            transition: opacity 1s, background-color 1s;
}

body[class*="web"] .details[id^="web"] {
    opacity: 0.3;
    background-color: rgba(255, 255, 255, 0);

    -webkit-transition: opacity 1s, background-color 1s;
       -moz-transition: opacity 1s, background-color 1s;
        -ms-transition: opacity 1s, background-color 1s;
         -o-transition: opacity 1s, background-color 1s;
            transition: opacity 1s, background-color 1s;
}
body[class*="web"] .details[id^="web"].active {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);

    -webkit-transition: opacity 1s, background-color 1s;
       -moz-transition: opacity 1s, background-color 1s;
        -ms-transition: opacity 1s, background-color 1s;
         -o-transition: opacity 1s, background-color 1s;
            transition: opacity 1s, background-color 1s;
}

body[class*="storage"] .details[id^="storage"] {
    opacity: 0.3;
    background-color: rgba(255, 255, 255, 0);

    -webkit-transition: opacity 1s, background-color 1s;
       -moz-transition: opacity 1s, background-color 1s;
        -ms-transition: opacity 1s, background-color 1s;
         -o-transition: opacity 1s, background-color 1s;
            transition: opacity 1s, background-color 1s;
}
body[class*="storage"] .details[id^="storage"].active {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);

    -webkit-transition: opacity 1s, background-color 1s;
       -moz-transition: opacity 1s, background-color 1s;
        -ms-transition: opacity 1s, background-color 1s;
         -o-transition: opacity 1s, background-color 1s;
            transition: opacity 1s, background-color 1s;
}

body[class*="analysis"] .details[id^="analysis"] {
    opacity: 0.3;
    background-color: rgba(255, 255, 255, 0);

    -webkit-transition: opacity 1s, background-color 1s;
       -moz-transition: opacity 1s, background-color 1s;
        -ms-transition: opacity 1s, background-color 1s;
         -o-transition: opacity 1s, background-color 1s;
            transition: opacity 1s, background-color 1s;
}
body[class*="analysis"] .details[id^="analysis"].active {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);

    -webkit-transition: opacity 1s, background-color 1s;
       -moz-transition: opacity 1s, background-color 1s;
        -ms-transition: opacity 1s, background-color 1s;
         -o-transition: opacity 1s, background-color 1s;
            transition: opacity 1s, background-color 1s;
}

body[class*="visualization"] .details[id^="visualization"] {
    opacity: 0.3;
    background-color: rgba(255, 255, 255, 0);

    -webkit-transition: opacity 1s, background-color 1s;
       -moz-transition: opacity 1s, background-color 1s;
        -ms-transition: opacity 1s, background-color 1s;
         -o-transition: opacity 1s, background-color 1s;
            transition: opacity 1s, background-color 1s;
}
body[class*="visualization"] .details[id^="visualization"].active {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);

    -webkit-transition: opacity 1s, background-color 1s;
       -moz-transition: opacity 1s, background-color 1s;
        -ms-transition: opacity 1s, background-color 1s;
         -o-transition: opacity 1s, background-color 1s;
            transition: opacity 1s, background-color 1s;
}

body[class*="organization"] .details[id^="organization"] {
    opacity: 0.3;
    background-color: rgba(255, 255, 255, 0);

    -webkit-transition: opacity 1s, background-color 1s;
       -moz-transition: opacity 1s, background-color 1s;
        -ms-transition: opacity 1s, background-color 1s;
         -o-transition: opacity 1s, background-color 1s;
            transition: opacity 1s, background-color 1s;
}
body[class*="organization"] .details[id^="organization"].active {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);

    -webkit-transition: opacity 1s, background-color 1s;
       -moz-transition: opacity 1s, background-color 1s;
        -ms-transition: opacity 1s, background-color 1s;
         -o-transition: opacity 1s, background-color 1s;
            transition: opacity 1s, background-color 1s;
}
